# API ключ для OpenAI (необходим для генерации контента с использованием AI)
OPENAI_API_KEY=your_openai_api_key_here

# Настройки планировщика (время запуска в формате HH:MM)
SCHEDULER_TIME=09:00

# ID таблицы Google Sheets
GOOGLE_SHEETS_ID=1bVeyg8ugQyCGp0QO5uWXW7V0xtNKvOZH0RLPcrD4_Eo

# Путь к файлу учетных данных Google Sheets
GOOGLE_SHEETS_CREDENTIALS_PATH=credentials.json 